.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0, .9);
    z-index: 100;
}
  
.modal .modal__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}