* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    background-color: #4ec5e6;
    color: white;
    font-size: 1em;
    padding: 1em;
    border: 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}